body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
	margin: 20px;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

#poster {
	width: 50%;
	height: auto;
	margin: 20px;
	border-radius: 10px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

h1 {
	font-size: 36px;
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
	font-family: 'Lato', sans-serif;
}

p {
	margin-bottom: 20px;
	font-family: 'Lato', sans-serif;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin-bottom: 10px;
}

a {
	color: #337ab7;
	text-decoration: none;
}

a:hover {
	color: #23527c;
}